*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    padding: 3rem;
    font-weight: 400;
    line-height: 1.7;
    color: #7777;
    box-sizing: border-box;
}

.container-fluid {
    padding: 0;
    min-height: 100vh;
    /* margin-bottom: 40px; */
    background-image: linear-gradient(
        to right bottom, rgba(126, 2313, 111, .8), 
        rgba(40, 180, 131, .8)), 
        url("https://gogomedia.pl/blog/blog/wp-content/uploads/2017/04/ile-kosztuje-programista-1000x576.jpg");
    clip-path: polygon(23% 0, 100% 0, 100% 50%, 77% 100%, 0 100%, 0% 50%);
    background-size: cover;
    background-position: top;
    position: relative;
}

