<footer class="page-footer bg-dark">
    <div class="footer-copyright text-center py-3">
        <p>© 2020 Copyright: 
            <br>
            Powered by:</p>
        <span>Georgi Tsvetkov</span>
    </div>
</footer>