.container-fluid {
    justify-content: center;
    align-items: center;
    transform: translate(+17%,-3%);
}

h3 {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;
    animation: moveInBottom 2s ease-out;
}

.details {
    animation: moveInBottom 2s ease-out;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

span {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgb(53, 2, 46);
}

.true {
    font-weight: bold;
    color: rgb(255, 255, 0);
}

.false {
    font-weight: 700;
    color: red;
}

.txt-area {
    width: 20rem;
    resize: none; 
    background: rgb(0,36,0);
background: linear-gradient(90deg, rgba(0,36,0,1) 0%, rgba(97,194,53,0.8673844537815126) 45%, rgba(90,138,161,1) 100%, rgba(0,212,255,1) 100%);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info {
    color: #484F57;
}

.info-area {
    color: #fff;
}