<div class="container-fluid">
    <h3>Application Details:</h3>
    <div class="details" *ngIf="this.applicationDetails">
        <span>First Name:</span> &nbsp; <span class="info">{{this.applicationDetails.firstName}}</span>
        <br>
        <span>Surname:</span> &nbsp; <span class="info">{{this.applicationDetails.surname}}</span>
        <br>
        <span>Age:</span> &nbsp; <span class="info">{{this.applicationDetails.age}}</span>
        <br>
        <span>Phone Number:</span> &nbsp; <span class="info">{{this.applicationDetails.phoneNumber}}</span>
        <br>
        <span>Communication Preference:</span> &nbsp; <span class="info">{{this.applicationDetails.communicationPreference}}</span>
        <br>
        <span>English Level:</span> &nbsp; <span class="info">{{this.applicationDetails.englishLevel}}</span>
        <br>
        <span>Start Date:</span> &nbsp; <span class="info">{{this.applicationDetails.startDate}}</span>
        <br>
        <span>Skills and Courses:</span> 
        <br>
        <textarea readonly class="txt-area info-area">{{this.applicationDetails.skillsAndCourses}}</textarea> 
        <br>
        <span>Presentation:</span> 
        <br> 
        <textarea readonly class="txt-area info-area"> {{this.applicationDetails.presentation}} </textarea> 
        <br>
        <span>Study from home:</span> &nbsp; <span class="true" *ngIf="this.applicationDetails.studyFromHome">Yes</span> <span class="false" *ngIf="!this.applicationDetails.studyFromHome">No</span>
    </div>
</div>