<header class="page-header">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="item1 navbar-brand logo-box" (click)="refresh()" routerLink="/home">
        <img class="logo" src="https://media-exp1.licdn.com/dms/image/C4D0BAQG1diCguhS7iA/company-logo_200_200/0?e=2159024400&v=beta&t=udW9fjrs9j6qQKkXl4EODCZ2_hflAaeC4viyJnomhls" height="50" alt="">
    </a>
    <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-expand-sm navbar-collapse btn-group" id="navbarMenu">
        <ul  class="navbar-nav mx-auto">
            <li  class="nav-item">
                <a routerLinkActive="active" class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link" routerLink="/applications">Submissions</a>
            </li>
            <li class="nav-item">
                <a routerLinkActive="active" class="nav-link" [routerLink]="'/new'">New</a>
            </li>
        </ul>
    </div>
</nav>
</header>