.container-fluid {
    justify-content: center;
    align-items: center;
    transform: translate(+30%,-3%);
}
.communication-preference {
    display: inline-block;
    position: absolute;
    left: 1.4%;
    
}

.com-pref-btn {
    width: 18.9rem;
    margin-left: calc(0.1vw);
}

.english-level {
    display: block;
    position: relative;
    margin-left: 7rem;
    bottom: -.2rem;
    left: -7rem;
    margin-top: .5rem;
}

.en-btn {
    width: 10rem;   
}

.presentation-area {
    margin-top: 1rem;
    color: #777;
    font-weight: 700;
    width: 19rem;
}

.radio-btn {
    display: inline-block;
    margin-bottom: 10rem;
    position: relative;
    left: 0rem;   
}

.btn-input-radio {
    margin-left: .5rem;
    vertical-align:middle;
}

.home-label {
    display: inline-block;
    width: 9rem;
    vertical-align: top;
}

.date-picker {
    width: 15rem;
    margin-top: 1rem;
}

.com-pref {
    display: block;
    font-weight: bold;
    color: #777;
    margin-bottom: 1rem;
}

.text-area-pres {
    resize: none;
    max-height: 3rem;
}

.study-label {
    font-weight: bold;
    color: #777;  
    margin-bottom: 0;
}

.checkbox-custom {
    position: absolute;
    top: 45%;
    left: 10%;
    margin-left: 6rem;
}