<div class="container-fluid">
  <form [formGroup]="this.createApplicationForm">

    <!-- NAME -->
    <div style="width:300px">
      <div class="form-group">
        <label class="sr-only" for="inlineFormInputName2 ">First Name:</label>
        <input type="text " class="form-control" id="inlineFormInputName2 " placeholder="Your name... "
          formControlName="firstName">
      </div>
    </div>

    <!-- SURNAME -->
    <div class="" style="width:300px">
      <div class="form-group">
        <label class="sr-only" for="inlineFormInputName2 ">Surname:</label>
        <input type="text " class="form-control" id="inlineFormInputName2 " placeholder="Your surname... "
          formControlName="surname">
      </div>
    </div>

    <!-- AGE -->
    <div class="" style="width:300px">
      <div class="form-group">
        <label class="sr-only" for="inlineFormInputName2 ">Age:</label>
        <input type="number" min="18" max="99" class="form-control" id="inlineFormInputName2 "
          placeholder="Your age... " formControlName="age">
      </div>
    </div>

    <!-- PHONENUMBER -->
    <div class="" style="width:300px">
      <div class="form-group">
        <label class="sr-only" for="inlineFormInputName2 ">Phone Number:</label>
        <input type="string" class="form-control" id="inlineFormInputName2 " placeholder="Your number... "
          formControlName="phoneNumber">
      </div>
    </div>

    <!-- COMMUNICATIONPREFERENCE -->
    <span class="com-pref">Communication preference:</span>
    <input type="radio" formControlName="communicationPreference" value="EMAIL" > Email
      <input type="radio" formControlName="communicationPreference" value="GSM"> Phone

    <!-- ENGLISHLEVEL -->
    <div class="form-group english-level">
        <div class="d-block">
            <label class="study-label">Choose Skill:</label>
        </div>
        <div class="d-inline-block" style="width: 150px">
            <select formControlName="englishLevel" class="custom-select" id="inlineFormCustomSelectPref ">
            <option *ngFor="let level of languageProficiency" [value]="level">{{level}}</option>
            </select>
        </div>
    </div>

    <!-- DATEPICKER -->
    <span class="study-label">Your preferred start date:</span>
    <div class="form-group date-picker">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="startDate" ngbDatepicker
          #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- SKILLSANDCOURSES -->

    <div class="form-group btn-group-toggle presentation-area">
      <label for="exampleFormControlTextarea1">Your skills and completed courses:</label>
      <textarea class="form-control text-area-pres" id="exampleFormControlTextarea1" rows="3"
        formControlName="skillsAndCourses"></textarea>
    </div>

    <!-- PRESENTATION -->

    <div class="form-group btn-group-toggle presentation-area">
      <label for="exampleFormControlTextarea1">Why do you wish to join?</label>
      <textarea class="form-control text-area-pres" id="exampleFormControlTextarea1" rows="3"
        formControlName="presentation"></textarea>
    </div>

    <!-- STUDYFROMHOME -->

    <div class="form-check checkbox-custom">
        <input formControlName="studyFromHome" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            <span class="study-label">Work from home</span>
        </label>
    </div>
    </form>
    <button style="margin-right: 1rem;" class="btn btn-outline-danger my-2 my-sm-0" [routerLink]=" [ '/applications'] ">Cancel</button>
    <button *ngIf="!this.paramId" class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="this.createApplicationForm.invalid" (click)="submitApplication()">Submit</button>
    <button *ngIf="this.paramId" class="btn btn-outline-success my-2 my-sm-0" type="submit" [disabled]="this.createApplicationForm.invalid" (click)="editApplication()">Edit</button>
</div>
