<div class="container-fluid">
    <div>
        <table style="width: 70rem; margin-left: 2rem;" class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name:</th>
                    <th scope="col">Surname:</th>
                    <th scope="col">Phone Number:</th>
                    <th scope="col">Start Date:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let application of this.applications | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
                    <td><span class="table-content">{{ application.firstName }}</span></td>
                    <td><span class="table-content">{{ application.surname }}</span></td>
                    <td><span class="table-content">{{ application.phoneNumber }}</span></td>
                    <td><span class="table-content">{{ application.startDate }}</span></td>
                    <td><button class="btn btn-outline-info my-2 my-sm-0" type="submit" [routerLink]="['/application-details/', this.application.id]">View</button></td>
                    <td><button class="btn btn-outline-success my-2 my-sm-0" type="submit" [routerLink]="['/edit', application.id]">Edit</button></td>
                    <td><button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="deleteApplication(application.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>