.text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;
}

.heading-primary-main {
display: block;
font-size: 2rem;
font-weight: 700;
letter-spacing: .5rem;
margin-bottom: 1rem;
animation: moveInLeft 2s ease-out;
}

.heading-primary-sub {
display: block;
font-size: 2rem;
font-weight: 700;
letter-spacing: .5rem;
animation: moveInRight 2s ease-out;
}

.content {
    display: block;
    animation: moveInBottom 1s ease-out 2s;
    animation-fill-mode: backwards;
    text-align: center;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }
    80% {
        opacity: 0;
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }
    80% {
        opacity: 0;
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}