<div class="text-box">
    <h1 class="heading-primary">
        <span class="heading-primary-main">Welcome to</span>
        <span class="heading-primary-sub">Prime Holding's Application Manager</span>
    </h1>
</div>

